.bg-img-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
  }

.bg-img-div {
    position: relative;
    width: 100%;
    height: 350px;
    background-color: #712cf9;
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/images/aboutUS.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.bg-img-div img{
  width: 100%;
    height: 100%;
}
.about-us{
    margin: 10px;
}

h1{
    z-index: 1;
}

.learn-about-us img{
    width: 300px;
    height: 350px;
    margin-right: 100px;
}

.learn-about-us-container{
 margin: 80px;
 display: flex;
 align-items:center;
 justify-content: center;
}

.learn-about-us-text hr{
    width: 80px;
    margin-top: 10px;
    padding: 1px;
    background-color: #712cf9;
}

.learn-about-us-text p{
    margin-top: 20px;
    width: 50%;
    font-size:large;
}

.learn-about-us-text h6{
    font-size: larger;
}

.box {
    width: 330px;
    height: 150px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #888888;
    border-radius: 15px;
    padding: 10px;
    align-items: center;
    margin: 20px;
    transition: transform 0.5s ease;
  }

  .box-container i{
    font-size: 50px;
    color:  #00394f ;
  }
    
  .text {
    font-size: 18px;
    font-weight: bold;
  }
  
  .img-text-cont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

.box-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
}


.box-container :hover {
  cursor: pointer;
  transform: scale(1.05);
}

.title{
  color: #00394f ;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-top: 70px;
}

.div{
  margin: 30px 100px;
}